colorama==0.4.6
coverage==7.6.3
flake8==3.9.2
flaked==0.2.1
iniconfig==2.0.0
mccabe==0.6.1
packaging==24.1
pluggy==1.5.0
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==2.5.2
pytest==8.3.3
pytest-cov==5.0.0

    - name: Test with pytest
      run: |
        coverage run -m pytest
    - name: Run code coverage
      run: |
        # Run coverage report
        #coverage xml

        # Report and write to summary.
        coverage report --format=markdown >> $GITHUB_STEP_SUMMARY

        # Report again and fail if under 100%.
        coverage report --fail-under=100
    - name: Store coverage report
      uses: actions/upload-artifact@v4
      with:
        path: coverage.xml
      if: ${{ failure() }}